@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container{
    height: 1000px;
    width: 100%;
    background-color: #E0E5B6;
    margin: 0;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
}